{% extends 'base.html' %}
 

{% block content %}
    
<div class="" id="main">
<section class="ms-3">
<h4>Total tareas: {{tasksRegister}}</h4>
<h4>Tareas completadas: {{tasksDone}}</h4>
<h4>Tareas pausadas: {{tasksPaused}}</h4>
<button class="btn btn-success" id="AddTaskBtn">Agregar Tarea</button>
</section>



<div class="d-flex">
    
<section class="d-flex flex-wrap w-100 h-100 justify-content-center " >
    
    {% for task in tasks  %}
   
        
        {% if task.status == "Registrado" %}
        <div class="card-registrado w-25 py-3 px-3 mx-3 my-3 text-center d-flex flex-column position-relative card">
            <h2>{{task.title}}</h2>
            <p class="text-start">{{task.description}}</p>
            <a href='{% url "delete" task.id %}' class="btn btn-danger top-0 mx-2 my-2 end-0 position-absolute"> X </a>
        
            
            <a href='{% url "done" task.id %}' class="btn btn-success w-50 mx-auto my-2" id="Completado">Completado</a>
            <a href='{% url "pause" task.id %}' class="btn btn-danger w-50 mx-auto my-2">Pausar</a>
            
        
        
            <p>Termina en {{task.date_final}}</p>
        </div>
        

        {% elif task.status == "Culminado" %}
        <div class="card-culminado w-25 py-3 px-3 mx-3 my-3 text-center d-flex flex-column position-relative card">
            <h2>{{task.title}}</h2>
            <p class="text-start">{{task.description}}</p>
            <a href='{% url "delete" task.id %}' class="btn btn-danger top-0 mx-2 my-2 end-0 position-absolute"> X </a>


            <a href='{% url "started" task.id %}' class="btn btn-info w-50 mx-auto my-2">Aun no culminado</a>
        
        
            <p>Termina en {{task.date_final}}</p>
        </div>

        {% elif task.status == "Pausado" %}
        <div class="card-pausado w-25 py-3 px-3 mx-3 my-3 text-center d-flex flex-column position-relative card">
            <h2>{{task.title}}</h2>
            <p class="text-start">{{task.description}}</p>
            <a href='{% url "delete" task.id %}' class="btn btn-danger top-0 mx-2 my-2 end-0 position-absolute"> X </a>

            <a href='{% url "started" task.id %}' class="btn btn-success w-50 mx-auto my-2">Continuar</a>
            
            <p>Termina en {{task.date_final}}</p>
        </div>
        {% endif %} 

    {% empty %} 
    
    
 
    <div class="bg-light py-3 px-3">
        <h2>Aún no hay tareas agregadas</h2>
        <form action='{% url "add" %}' method="post"   >
            {% csrf_token %}
            <div>
                <label for="title" class="form-label"> Titulo:  </label>
                <input type="text" name="title" id="title" class="form-control"  required>
            </div>
            <div>
                <label for="description" class="form-label"> Descripción:</label>
                <textarea  class="form-control" cols="30" rows="10" name="description" id="description" required></textarea> 
            </div>

            <div>
                <label for="date_final" class="form-label"> Fecha límite:</label>
                <input  type="date" class="form-control" cols="30" rows="10" name="date_final" id="date_final">
            </div>
            
            <button type="submit" class="btn btn-success ms-5 mt-3 ">Agregar</button>
        </form>
    </div>
    
    {% endfor %}
</section >


<section class=" px-5  py-3 formAdd  position-absolute " id="AddTask">
    <div class=" ">
        <form action='{% url "add" %}' method="post"   >
            {% csrf_token %}
            <div>
                <label for="title" class="form-label"> Titulo:  </label>
                <input type="text" name="title" id="title" class="form-control"  required>
            </div>
            <div>
                <label for="description" class="form-label"> Descripción:</label>
                <textarea  class="form-control" cols="30" rows="10" name="description" id="description" required></textarea> 
            </div>

            <div>
                <label for="date_final" class="form-label"> Fecha límite:</label>
                <input  type="date" class="form-control" cols="30" rows="10" name="date_final" id="date_final">
            </div>
            
            <button type="submit" class="btn btn-success ms-5 mt-3">Agregar</button>
            <button  class="btn btn-danger ms-5 mt-3" id="cancelTask">Cancelar</button>
        </form>
    </div>
</section>

</div>
</div>
<!-- Maneja el agregado de tareas -->
    <script>
        document.getElementById('AddTaskBtn').addEventListener('click',
        function(){
            var addTask = document.getElementById('AddTask');
            var contForm = document.getElementById('contForm');
            addTask.classList.remove('d-none')
            addTask.classList.remove('formAdd')
            addTask.classList.add('formAdd2')
        }
        );

        document.getElementById('cancelTask').addEventListener('click',
        function(){
            var addTask = document.getElementById('AddTask');
            var contForm = document.getElementById('contForm');
            addTask.classList.add('d-none')
           
            }
        );

        // document.getElementById('Culminado').addEventListener('click',
        // function(){
        //     var tareaCulminada = document.getElementById('main');
        //     tareaCulminada.classList.add('culminado');
        //     }   
        // );

    </script>
{% endblock content %}