*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

header{
    background-color: #161A30;
    color: antiquewhite;
}
footer{
    background-color: #161A30;
    color: antiquewhite;
    bottom: 0;
}

.card{
    box-shadow: 13px 12px 17px -2px rgba(0,0,0,0.27);
-webkit-box-shadow: 13px 12px 17px -2px rgba(0,0,0,0.27);
-moz-box-shadow: 13px 12px 17px -2px rgba(0,0,0,0.27);
}

main{
    padding-top:15px;
    padding-bottom:15px;
    background-color: #31304D;
    height: 86vb;
}

.card-registrado{
    background-color: #F0ECE5;
}
.card-pausado{
    background-color: rgb(240, 70, 70);
}
.card-culminado{
    background-color: #B6BBC4;
}

.formAdd{
    background-color: #B6BBC4;
    border-radius: 5%;
    left: -100%;
    
}

.formAdd2{
    background-color: #83aaf1;
    border-radius: 2%;
    transform: translate(210%, 0);
    transition: 1s ease-in;
  
}

