* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
:root {
    --color-titles: #f8f69f;
    --color-text: #bab986;
    --color-background: #3e3e53;
    --color-other: #000039;
    
  }




html,
body {
    height: 100%;
    min-height: 100%;
    margin: 0;
}

body{
    background:var(--color-background);
}


header {
    background-color:var(--color-other);
    color: var(--color-titles);
}


footer {
    background-color:var(--color-other);
    color: var(--color-titles);
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;



}


.task-inf {
    color: var( --color-text);
}

.card {
    box-shadow: 13px 12px 17px -2px rgba(0, 0, 0, 0.27);
    -webkit-box-shadow: 13px 12px 17px -2px rgba(0, 0, 0, 0.27);
    -moz-box-shadow: 13px 12px 17px -2px rgba(0, 0, 0, 0.27);
}

main {
    padding-top: 15px;
    padding-bottom: 15px;
    


}

.card-registrado {
    background-color: #F0ECE5;
    width: 20%;
}

.card-pausado {
    background-color: rgb(226, 110, 110);
    width: 20%;
}

.card-culminado {
    background-color: #7afc9a;
    width: 20%;
}

@media screen and (max-width: 1317px) {
    .card-registrado {
        width: 40%;
    }

    .card-pausado {
        width: 40%;
    }

    .card-culminado {
        width: 40%;
    }
}

@media screen and (max-width: 875px) {
    .card-registrado {
        width: 100%;
    }

    .card-pausado {
        width: 100%;
    }

    .card-culminado {
        width: 100%;
    }
}

.formAdd {
    background-color: #B6BBC4;
    border-radius: 5%;
    left: -100%;

}

.formAdd2 {
    color: antiquewhite;
    background-color: var(--color-other);
    border-radius: 2%;

    transform: translate(calc(-50%), calc(-50%));
    top: 50%;
    left: 50%;
    transition: 1s;
}

#DelTaskAnsBox {
    color: antiquewhite;
    background-color: var(--color-other);
    border-radius: 2%;
    position: absolute;
    transform: translate(calc(-50%), calc(-50%));
    top: 50%;
    left: 50%;
    transition: 1s;
}