*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}



header{
    background-color: #161A30;
    color: antiquewhite;
}
footer{
    background-color: #161A30;
    color: antiquewhite;
    
    bottom: 0;
    
}

.task-inf{
    color: antiquewhite;
}
.card{
    box-shadow: 13px 12px 17px -2px rgba(0,0,0,0.27);
-webkit-box-shadow: 13px 12px 17px -2px rgba(0,0,0,0.27);
-moz-box-shadow: 13px 12px 17px -2px rgba(0,0,0,0.27);
}

main{
    padding-top:15px;
    padding-bottom:15px;
    background-color: #31304D;
    
}

.card-registrado{
    background-color: #F0ECE5;
    width: 20%;
}
.card-pausado{
    background-color: rgb(240, 70, 70);
    width: 20%;
}
.card-culminado{
    background-color: #B6BBC4;
    width: 20%;
}

@media screen and (max-width: 1317px) {
    .card-registrado {
      width: 40%;
    }
    .card-pausado{
        width: 40%;
    }
    .card-culminado{
        width: 40%;
    }
  }

@media screen and (max-width: 875px) {
.card-registrado {
    width: 100%;
}
.card-pausado{
    width: 100%;
}
.card-culminado{
    width: 100%;
}
}

.formAdd{
    background-color: #B6BBC4;
    border-radius: 5%;
    left: -100%;
    
}

.formAdd2{
    background-color: #83aaf1;
    border-radius: 2%;
    position: relative;
    transform: translate(calc(-50%) , calc(-50%)); 
    top:50%;
    left: 50%;
    transition: 1s;
}


